<div class="message">
<li class="media">
  <div class="media-right">
    <div class="pull-right">
      <%= image_tag 'placehold_jp_16_3d4070_ffffff_60x60.png', size:'40x40', class:'media-object img-circle' %>
    </div>
  </div>
  <div class="media-body">
    <p class="message-header">
      <strong><%= message.user.name %></strong>
      <small><%= message.created_at %></small>
    </p>
    <p class="message-content">
      <span><%= message.content %></span>
    </p>
  </div>
</li>
</div>
