<li class="media">
  <div class="media-left">
    <div class="pull-left">
      <%= image_tag 'placehold_jp_16_3d4070_ffffff_60x60.png', class:'media-object img-circle' %>
    </div>
  </div>
  <div class="media-body">
    <%= message.content %>
  </div>
</li>
