<article class="container">
  <section>
    <h1><%=t('toririn')%><%= fa_icon :star %><%=t('chat')%></h1>
    <%= link_to t('start'), rooms_path, class:'btn btn-lg btn-primary' %>
  </section>
</article>
