<p><%= t('.instruction1') %></p>
<p><%= t('.instruction2') %></p>
<p><%= t('.instruction3') %></p>
<% confirmation_url = root_url(confirmation_token: @token, format:nil) %>
<p><%= link_to confirmation_url, confirmation_url %></p>
